
# __pycache__/
*/__pycache__/

# data, material, ...
data/*
test
Material
temp/*

# media
image

# allow DVC metadata
!data/**/raw.dvc
!data/**/.gitkeep

# model checkpoints
checkpoints/**/*.tar
checkpoints/**/*.pt
